<!-- partials/_navbar.ejs -->
<nav>
  <% if (user) { %>
  <!-- <a href="/listings">View all Listings</a> -->
  <a href="/auth/sign-out"><button>Sign Out</button> </a>
  <% } else { %>
  <a href="/auth/sign-up"><button>Sign Up</button></a>
  <a href="/auth/sign-in"><button>Sign In</button></a>
  <% } %>
  <a href="/"><button>Home</button></a>
</nav>
