<nav>
    <h2>Project Related Documents</h2>
    <a href="#?type=user-stories"><button>User Stories</button></a>
    <a href="#?type=models"><button>Models and ERDs</button></a>
    <a href="#?type=views"><button>Views and Wireframes</button></a>
    <a href="#?type=routes"><button>Routes</button></a>
    <a href="#?type=pseudo-code"><button>Pseudocode</button></a>
</nav>