<div id="docsnav">
    <header>
        <% if (typeof project === 'undefined') {%>
        <h1>Welcome to CodeBlueprint</h1>
        <h2>Personal Project Planning for developers</h2>
        <% } %>
        <h2>Project Related Documents</h2>
        <nav class="doctab">
            <button class="tablinks" onclick="openDoc(event, 'User-stories')">User Stories</button>
            <button class="tablinks" onclick="openDoc(event, 'Models')">Models and ERDs</button>
            <button class="tablinks" onclick="openDoc(event, 'Views')">Views and Wireframes</button>
            <button class="tablinks" onclick="openDoc(event, 'Routes')">Routes</button>
            <button class="tablinks" onclick="openDoc(event, 'Pseudocode')">Pseudocode</button>
        </nav>
    </header>
</div>