<h3>My Projects</h3>
<p><a href="/projects/new">Start A New Project!</a></p>
<ul>
    <% projects.forEach(project => { %>
        <li><a href="<%= project._id %>"><%= project.name %></a></li>
    <% }) %>
</ul>