<div id="projectsnav">
    <h3>My Projects</h3>
    <% if (user) {%>
    <a href="/projects/new" id="newproj">Start A New Project</a>
    
        <% projects.forEach(project => { %>
            <a href="/projects/<%= project._id %>"><button><%= project.name %></button> </a>
        <% }) %>
    
    <% } else { %>
        <p>Your Porjects appear here</p>
    <% } %>
</div>