<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeBlueprint</title>
</head>
<body>
    <h1>Welcome to CodeBlueprint</h1>
    <h2>Personal Project Planning for developers</h2>
    <%- include('./partials/_authNavbar.ejs') %>
    <%- include('./partials/_projectsNavbar.ejs') %>
    <%- include('./partials/_docsNavbar.ejs') %>
</body>
</html>