* {
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    font-size: 18px;
}

body {
    height: 100%;
    width: 99%;
    text-align: center;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 40px auto;
}

#auth {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: red solid 1px; */
}

#auth .btn {
    margin-left: 20px;
}

.btn {
    display: inline;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
    border: black solid 1px;
    border-radius: 5px;
}

#projectsnav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
    border-right: solid black 3px;
    background-color: #E7E9EB;
}

#projectsnav h3 {
    font-weight: 400;
    font-size: 28px;
}

#projectsnav button {
    width: 100%;
    padding: 10px 24px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    border: none;
}

#newproj {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: black;
  border: black solid 1px;
  border-radius: 5px;
}

/* header {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
} */

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#docsnav {
    width: 100%;
    
}

.doctab {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.doctab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.doctab button:hover {
  background-color: #ddd;
}

.doctab button.active {
  background-color: #ccc;
}

.docContent {
    display: none;
}

.form {
    width: 50%;
    margin: auto;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
  margin: 20px 0;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 20px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

label {
    display: block;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    font-size: 18px;
}

.done {
    text-align: left;
    display: inline;
    margin-top: 20px;
    width: auto;
}

button {
    text-align: left;
    padding: 6px 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
    border: black solid 1px;
    border-radius: 5px;
    /* margin-top: 10px; */
    font-size: 16px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.project-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    margin: auto;
}

summary {
    display: block;
}