<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
</head>
<body>
    <h1>Start a New Project!</h1>
    <form action="/projects" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="discription">Discription:</label>
        <textarea name="discription" 
        rows="15" 
        cols="70"
        id="discription">
        </textarea>
        
        <button type="submit">Submit</button>
        <!-- <button type="button">Cancel</button> for Stretch -->
    </form>
</body>
</html>