<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
</head>
<body>
    <%- include('../partials/_authNavbar.ejs') %>
    <%- include('../partials/_projectsNavbar.ejs') %>
    <%- include('../partials/_docsNavbar.ejs') %>
    <h1>Start a New Project!</h1>
    <form action="/projects" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="discription">Discription:</label>
        <textarea name="discription" 
        rows="15" 
        cols="70"
        id="discription">
        </textarea>
        
        <button type="submit">Submit</button>
        
    </form>
    <br>
    <a href="/projects/"><button>Cancel</button></a>
</body>
</html>